body {
    width: 80vw;
    min-width: 500px;
    margin: 0 auto;
    height: 200vh;
    background-color: black;
}

h1 {
    text-align: center;
    color: rgb(165, 53, 146);
}

html {
    background:linear-gradient(150deg,
    rgb(68, 68, 190) 0%,
    rgb(206, 76, 134) 50%,
    rgb(175, 51, 213) 100%
    );
    font-size: 50px;
    }

img {
    height:50%;
    width:50%;
    object-fit: contain;
}

@font-face {
    font-family: lobster;
    src: url("./assets/LuxuriousRoman-Regular.ttf");
}
.astrocircle {
    height: 925px;
    width: 925px;
    position: absolute;
    left: 445px;
    top: 350px;
}

.results {
    height: 65px;
    width: 925px;
    align-content: center;
    font-size: x-large;
    color: rgb(165, 64, 143);
    position: absolute;
    left: 225px;
    top: 905px;

}

#aquarius {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 875px;
    top: 405px;
}

#pisces {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 775px;
    top: 295px;
}

#aries {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 600px;
    top: 250px;
}
#taurus {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 420px;
    top: 295px;
}

#gemini {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 315px;
    top: 405px;
}

#cancer {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 295px;
    top: 540px;
}

#leo {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 315px;
    top: 680px;
}

#virgo {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 420px;
    top: 790px;
}

#libra {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 600px;
    top: 825px;
}
#scorpio {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 775px;
    top: 790px;
}
#sagittarius {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 885px;
    top: 680px;
}
#capricorn {
    height: 25%;
    width: 25%;
    position: absolute;
    left: 905px;
    top: 540px ;
}