
footer {
    margin-top:  .74rem;
    border-top: solid 1px lightgray;
    padding-top:  1rem;
    text-align: center;
}

footer img {
    margin: 0 .5rem;
}

footer img:hover {
    cursor: pointer;
}